@font-face {
  font-family: "Damn";
  font-weight: 400;
  font-style: normal;
  src: url("fonts/damn.ttf") format("truetype");
}

:root {
  --text-color-dark: rgb(0, 0, 0);
  --text-color-light: rgb(246, 231, 222);
  --accent-color: rgb(220, 69, 58);
  --additional-color: rgb(246, 231, 222);
  --additional-color-hover: rgb(214, 201, 193);
  --background-color: rgb(247, 247, 247);
}

body {
  font-family: "Damn", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color-dark);
  font-size: 20px;
  margin: 0;
  padding: .5em;
}

p {
  font-family: "Inter", sans-serif;
  margin-bottom: 1em;
  font-size: 23px;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 12px 40px 82px 40px;
}

h1,
h2,
h3 {
  font-family: "Damn";
}

h1 {
  font-size: 200px;
  margin-bottom: -0.5em;
}

h2 {
  font-size: 100px;
  color: var(--accent-color);
}

.tag {
  font-family: "Damn";
  font-size: 60px;
  margin-bottom: 0;
}

header {
  font-family: "Damn";
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.cart {
  display: flex;
  gap: 12px;
}

.cart-icon {
  display: flex;
}

.contacts {
  display: flex;
  gap: 12px;
  align-items: flex-start;
  justify-content: center;
}

a {
  color: var(--text-color-dark);
}

a:hover {
  color: var(--accent-color);
}

.icon-link .icon path {
  fill: var(--text-color-dark); /* Исходный цвет */
}

.icon-link:hover .icon path {
  fill: var(--accent-color); /* Цвет при наведении */
}

.nav-links {
  font-size: 30px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.nav-right {
  display: flex;
  gap: 36px;
}

section {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  /* margin: 0 auto; */
}

.lead {
  background-color: var(--accent-color);
  color: var(--text-color-light);
  border-radius: 0.3em;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.lead>img {
  margin-bottom: .5em;
}

.btn-price {
  font-size: 80px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: .3em;
}

.icon {
  height: 1em;
}

.btn-main {
  background-color: var(--additional-color);
  padding: .1em .5em;
  width: 3em;
  border-radius: 1em;
  color: var(--text-color-dark);
}

.btn-main:hover {
  background-color: var(--additional-color-hover);
}

.programs {
  align-items: center;
  text-align: center;
}

.programs>p {
  width: 60%;
}

.food-cards {
  display: flex;
  gap: .5em;
  justify-content: space-between;
  width: 100%;
}

.food-card>img {
  margin-bottom: .4em;
}

.food-card>p {
  font-family: "Damn";
  font-size: 40px;
  margin-bottom: 0;
}

.two-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 3em;
  width: 48%;
  min-height: 500px;
  min-width: 400px;
  background-color: black;
  clip-path: stroke-box;
  color: var(--additional-color);
}

.card>p {
  width: 80%;
  margin-bottom: 0;
}

.card-title {
  font-size: 160px;
  line-height: .8em;
}

.card-image {
  background-image: url('images/clean.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  font-size: 40px;
  display: flex;
  color: var(--text-color-dark);
  justify-content: space-between;
  margin-bottom: 5%;
}

footer>p {
  font-family: "Damn";
  font-size: 40px;
  margin-bottom: 0;
}