---
permalink: "/chapter2/index.html"
---

{% extends 'layout.html' %}
{% set pageTitle = 'Дай мне ответ' %}

{% block content %}
<div class="my__stack XL"></div>

<div class="my__wrapper">

  <p class="toc-back"><a href="/">Оглавление</a></p>
  <p>Глава 2</p>
  <h1>Неужели Бог отправляет людей в ад?</h1>

  <ids-navbar></ids-navbar>

  <section>
    <section>
      <p>Идея об аде очень некомфортная. Нам не очень нравится концепция о месте вечных
        мучительных страданий. Помимо этого, в наш век материализма, ад кажется каким-то суеверием. Образ бесов с
        хвостами и вилами, бросающих людей в пылающие котлы, кажется немного нелепым для нашего утончённого,
        высокотехнологичного восприятия. Этот образ даже стал комично использоваться в мультиках и шутках. Так что мы
        привыкли отвергать эту идею со смехом.</p>

      <p>Поэтому когда я говорю людям, что они ответственны за решение, которое повлияет не только на их жизнь сейчас,
        но и на на то, как они проведут свою вечность — начинают появляться вопросы. Истина может быть не популярна. Но
        недостаток популярности не делает её менее правдивой. Протест против закона гравитации не отправит нас парить в
        космосе. Мы будем до сих пор пригвождены к старой доброй планете Земля. Аналогично, если кто-то не верит в ад,
        не значит, что он не окажется там.</p>

      <p>Ранее я сказал, что ненавижу грех и его влияние на людей. Я достаточно неравнодушен, чтобы рассказать им плохие
        новости (вы приговорены к наказанию), потому что тогда хорошие новости будут иметь решающее значение. Я не хочу,
        чтобы люди, которых я встречаю, провели вечность без Бога. Поэтому я говорю им об аде. Я не пытаюсь загнать
        людей страхом в Царство Божие. Но ад — часть того, что хочет донести до нас Библия, поэтому я не прячу это от
        тех, с кем общаюсь.</p>
    </section>

    <section>
      <ids-nav-item id="question6" label="Вопрос 6. Ад действительно существует?">
        <h2>Вопрос 6. Ад действительно существует?</h2>
      </ids-nav-item>

      <p>От восточного до западного побережья меня постоянно спрашивают: «Ты правда веришь, что ад существует?». Я
        никогда не был в аду. Я основываюсь не на своём личном опыте. Я верю, что ад существует, потому что Иисус
        Христос прямо говорил, что он есть. Я знаю, что Иисусу можно доверять, он не обманщик. Иисус говорил об аде
        больше, чем любой другой Библейский автор.</p>

      <p>Например, Иисус сказал: «Если же правый глаз твой соблазняет тебя, вырви его и брось от себя, ибо лучше для
        тебя, чтобы погиб один из членов твоих, а не всё тело твоё было ввержено в геенну» (Матф 5:29). Он также сказал:
        «пошлёт Сын Человеческий Ангелов Своих, и соберут из Царства Его все соблазны и делающих беззаконие, и ввергнут
        их в печь огненную; там будет плач и скрежет зубов» (Матф 13:41-42). </p>

      <p>В послании от Луки 16:19-31 Иисус рассказал историю о богатом мужчине, у которого была самая лучшая одежда, он
        был здоров и пировал каждый день. Каждый день бедняк по имени Лазарь лежал у подножья стола. Это было жалкое
        зрелище. Его тело было покрыто язвами, которые лизали собаки через его рваную одежду. Лазарь мечтал ухватить
        крохи, которые падали со стола богача и набить ими свой рот, потому что он голодал.</p>

      <p>В конце концов они оба умерли. Богач попал в ад. Бедняк попал в рай. Когда богач мучился в аду, он посмотрел
        наверх и увидел бедняка Лазаря рядом с отцом Авраамом в раю. Богач закричал: «отче Аврааме! умилосердись надо
        мною и пошли Лазаря, чтобы омочил конец перста своего в воде и прохладил язык мой, ибо я мучаюсь в пламени сём».
      </p>

      <p>Но Авраам ответил: «Чадо! вспомни, что ты получил уже доброе твоё в жизни твоей, а Лазарь — злое; ныне же он
        здесь утешается, а ты страдаешь; и сверх всего того между нами и вами утверждена великая пропасть, так что
        хотящие перейти отсюда к вам не могут, также и оттуда к нам не переходят». </p>

      <p>Когда богач оказался в аду, он умолял о капле холодной воды. Но к сожалению, между раем и адом была огромная
        пропасть. Никто не мог перейти ни оттуда, ни туда.</p>

      <p>В аду ничего нельзя изменить. Там нет никакой возможности проложить путь из ада в рай. Жизнь на земле это
        время, когда ты и я должны принять решение, где мы проведём свою вечность. Жизнь это не просто глупая игра.
        Жизнь это навсегда.</p>

      <p>Много людей говорят: «Я очень жду, когда попаду в ад. Там будут все мои друзья. Мы устроим вечеринку. Мы
        отлично повеселимся». Так только хочется думать. В аду не будет вечеринок. Там не будет веселья. Там будет
        вечная темнота, вечность без Бога и других людей. Вечное одиночество.</p>

      <p>В истории Иисуса богатый мужчина был достойным, законопослушным гражданином. Он позволил попрошайке лежать у
        своего стола. Он дал ему больше, чем кто-либо другой. Он дал ему крошки со стола. Но богач набивал свой рот
        едой, смотрел в глаза бедняку и был полностью равнодушен. Хотя у богача было много всего, у него не было сердца.
      </p>

      <p>Мы прямо как этот богач в истории Иисуса. Он старался прожить хорошую жизнь, как и мы. Но богач был слеп к
        своему же равнодушию и недостатку любви. Точно также мы слепы к своим преступлениям. Нам тяжело верить и
        доверять. Но Иисус предлагает нам прощение и вечную жизнь если мы доверимся ему.</p>
    </section>

    <section>
      <ids-nav-item id="question7" label="Вопрос 7. Как любящий Бог может отправлять людей в ад?">
        <h2>Вопрос 7. Как любящий Бог может отправлять людей в ад?</h2>
      </ids-nav-item>

      <p>Скоро.</p>
    </section>

    <div class="bottom-nav">
      <div class="bottom-nav-item"><a href="/chapter1/">← Глава 1. Разве к Богу не много путей?</a></div>
      <div class="bottom-nav-item disabled">Глава 3. Почему в мире так много зла? →</div>
    </div>
</div>


<div class="my__stack XXL"></div>

{% endblock %}