---
permalink: "/chapter2/index.html"
---

{% extends 'layout.html' %}
{% set pageTitle = 'Дай мне ответ' %}

{% block content %}
<div class="my__stack XL"></div>

<div class="my__wrapper">

  <p class="toc-back"><a href="/">Оглавление</a></p>
  <p>Глава 2</p>
  <h1>Неужели Бог отправляет людей в ад?</h1>

  <ids-navbar></ids-navbar>

  <section>
    <section>
      <p>Идея об аде очень некомфортная. Нам не очень нравится концепция о месте вечных
        мучительных страданий. Помимо этого, в наш век материализма, ад кажется каким-то суеверием. Образ бесов с
        хвостами и вилами, бросающих людей в пылающие котлы, кажется немного нелепым для нашего утончённого,
        высокотехнологичного восприятия. Этот образ даже стал комично использоваться в мультиках и шутках. Так что мы
        привыкли отвергать эту идею со смехом.</p>

      <p>Поэтому когда я говорю людям, что они ответственны за решение, которое повлияет не только на их жизнь сейчас,
        но и на на то, как они проведут свою вечность — начинают появляться вопросы. Истина может быть не популярна. Но
        недостаток популярности не делает её менее правдивой. Протест против закона гравитации не отправит нас парить в
        космосе. Мы будем до сих пор пригвождены к старой доброй планете Земля. Аналогично, если кто-то не верит в ад,
        не значит, что он не окажется там.</p>

      <p>Ранее я сказал, что ненавижу грех и его влияние на людей. Я достаточно неравнодушен, чтобы рассказать им плохие
        новости (вы приговорены к наказанию), потому что тогда хорошие новости будут иметь решающее значение. Я не хочу,
        чтобы люди, которых я встречаю, провели вечность без Бога. Поэтому я говорю им об аде. Я не пытаюсь загнать
        людей страхом в Царство Божие. Но ад — часть того, что хочет донести до нас Библия, поэтому я не прячу это от
        тех, с кем общаюсь.</p>
    </section>

    <section>
      <ids-nav-item id="question6" label="Вопрос 6. Ад действительно существует?">
        <h2>Вопрос 6. Ад действительно существует?</h2>
      </ids-nav-item>

      <p>Скоро.</p>
    </section>

    <div class="bottom-nav">
      <div class="bottom-nav-item"><a href="/chapter1/">← Глава 1. Разве к Богу не много путей?</a></div>
      <div class="bottom-nav-item disabled">Глава 3. Почему в мире так много зла? →</div>
    </div>
</div>


<div class="my__stack XXL"></div>

{% endblock %}