<!-- Берём за основу шаблон includes/layout.html -->
{% extends 'layout.html' %}

{% set pageTitle = 'Дай мне ответ' %}

{% block content %}
<div class="my__stack XL"></div>
<div class="my__wrapper L">

  <div class="text-width">
    <p>Клиф Кнектли</p>
    <h1>Дай мне ответ<br>для разума и сердца</h1>
    <figure>
      <img src="./assets/cliffe.png" alt="Cliffe">
    </figure>
    <p>Клиф Кнектли — христианский пастор и апологет. Старший пастор «Церкви Благодати» в Нью-Канаане, Коннектикут.</p>
    <p>Клиф уже много лет отвечает на сложные вопросы о Боге и христианстве. В этой книге он собрал сорок
      самых распространённых вопросов, с которыми сталкивается как уличный евангелист.</p>
  </div>

  <div class="my__stack"></div>

  <nav class="nav-container">
    <div class="nav-item accent">
      <a href="/foreword/">
        <h2>Предисловие</h2>
      </a>
    </div>

    <div class="nav-item accent">
      <a href="/intro/">
        <h2>Введение</h2>
      </a>
    </div>

    <div class="nav-item">
      <a href="/chapter1/">
        <p>Глава 1</p>
        <h2>Разве к Богу не много путей?</h2>
      </a>
      <ul>
        <li><a href="/chapter1/#question1">Вопрос 1. Почему Иисус это единственный путь к Богу?</a></li>
        <li><a href="/chapter1/#question2">Вопрос 2. Разве недостаточно просто быть хорошим человеком?</a></li>
        <li><a href="/chapter1/#question3">Вопрос 3. Неужели коротенькая молитва спасет даже очень злого человека?</a>
        </li>
        <li><a href="/chapter1/#question4">Вопрос 4. Важно ли, во что ты веришь, если ты искренен?</a></li>
        <li><a href="/chapter1/#question5">Вопрос 5. Разве на небе не будет скучно?</a></li>
      </ul>
    </div>

    <div class="nav-item">
      <a href="/chapter2/">
        <p>Глава 2</p>
        <h2>Неужели Бог отправляет людей в ад?</h2>
      </a>
      <ul>
        <li><a href="/chapter2/#question6">Вопрос 6. Ад действительно существует?</a></li>
        <li>Вопрос 7. Как любящий Бог может отправлять людей в ад?</li>
        <li>Вопрос 8. Должен ли я поверить в Иисуса, чтобы не пойти в ад?</li>
        <li>Вопрос 9. Пойдут ли в ад те, кто никогда не слышал о Боге?</li>
        <li>Вопрос 10. Разве Ветхий завет не говорит о яростном Боге, а Новый говорит о любящем?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 3</p>
      <h2>Почему в мире так много зла?</h2>
      <ul>
        <li>Вопрос 11. Почему страдают невинные люди?</li>
        <li>Вопрос 12. Должен ли Бог нести ответственность за существование зла?</li>
        <li>Вопрос 13. Разве Библейские решения жизненных проблем не устарели?</li>
        <li>Вопрос 14. Почему христиане заинтересованы только в том, чтобы спасать людей?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 4</p>
      <h2>Как ты можешь говорить, что христианство рационально?</h2>
      <ul>
        <li>Вопрос 15. Разве вера в Иисуса не иррациональна?</li>
        <li>Вопрос 16. Как ты можешь доказать, что Бог существует?</li>
        <li>Вопрос 17. Почему я должен верить в Иисуса?</li>
        <li>Вопрос 18. Разве наука не опровергает существование Бога?</li>
        <li>Вопрос 19. Если Иисус правда Бог, почему так много людей отвергают его?</li>
        <li>Вопрос 20. Могут ли у христианина быть сомнения?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 5</p>
      <h2>Почему в церкви так много лицемеров?</h2>
      <ul>
        <li>Вопрос 21. Почему в церкви так много лицемеров?</li>
        <li>Вопрос 22. Почему так много разных конфессий?</li>
        <li>Вопрос 23. Разве Христианство — это не отдушина для слабых людей?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 6</p>
      <h2>Разве Библия не полна мифов?</h2>
      <ul>
        <li>Вопрос 24. Разве Новый завет не полон ошибок?</li>
        <li>Вопрос 25. Почему так много разных интерпретаций Библии?</li>
        <li>Вопрос 26. Почему христиане постоянно цитируют Библию?</li>
        <li>Вопрос 27. Разве воскресение Христа — это не миф?</li>
        <li>Вопрос 28. Когда будет второе пришествие Христа?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 7</p>
      <h2>Что плохого в том, чтобы хорошо проводить время?</h2>
      <ul>
        <li>Вопрос 29. Что плохого в сексе?</li>
        <li>Вопрос 30. Что плохого в сексе по любви?</li>
        <li>Вопрос 31. Что плохого в гомосексуальности?</li>
        <li>Вопрос 32. Что плохого в опьянении?</li>
        <li>Вопрос 33. Что такое грех?</li>
        <li>Вопрос 34. Почему христиане думают, что знают, как другим людям следует жить?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 8</p>
      <h2>Почему я должен верить в Иисуса?</h2>
      <ul>
        <li>Вопрос 35. Зачем Богу любить такого как я?</li>
        <li>Вопрос 36. Разве мир не безнадежен?</li>
        <li>Вопрос 37. Кто настоящий Иисус?</li>
        <li>Вопрос 38. Могу ли прийти к Богу в старости?</li>
        <li>Вопрос 39. Почему мне нужно измениться, если я хочу стать христианином?</li>
        <li>Вопрос 40. У меня всё хорошо, зачем мне Иисус?</li>
        <li>Вопрос 41. Как всё это ко мне относится?</li>
      </ul>
    </div>

    <div class="nav-item disabled">
      <p>Глава 9</p>
      <h2>Как мне рассказать другим об Иисусе?</h2>
      <!-- здесь нет вопросов -->
    </div>

  </nav>
  </section>

  {% endblock %}